* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-family: 'Reenie Beanie', cursive;
}

#myVideo {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    /* filter: grayscale(100%); */
    opacity: 70%;
}

#poem p {
    position: absolute;
    padding: 1em;
    transition: all 1s;
}

#poem img {
    position: absolute;
    transition: all 1s;
}

#line1 {
    bottom: 12%;
    right: 8%;
    color: white;
    font-size: 5em;
}

#line2 {
    bottom: 15%;
    right: 5%;
    color: white;
    font-size: 3em;
}

@keyframes imgGrow {
    from {
        transform: scale(1);
        right:5%;
        bottom: 25%;
    }
    to {
        transform: scale(4);
        right:30%;
        bottom: 45%;
    }}

@keyframes lineGrow {
    from {
        transform: scale(1);
        right:4%;
        bottom: 28.5%;
    }
    to {
        transform: scale(4);
        right: 25%;
        bottom: 52.5%;
    }}

#img1{
    bottom: 45%;
    right:30%;
    transform: scale(4);
}

#line3 {
    right: 19%;
    bottom: 52.5%;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
}

#line4 {
    right: 20%;
    bottom: 49%;
    color: rgb(255, 255, 255);
    font-size: 3em;
}

#line5 {
    bottom: 17%;
    right: 3%;
    color: rgb(255, 255, 255);
    font-size: 4em;
}

@keyframes lineLeft {
    0% {
        right:-50%;
    }
    100% {
        right: 3%;
    }}

.fa-expand {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.fa-expand:hover {
    cursor: pointer;
}

.fa-arrow-rotate-right {
    position: absolute;
    top: 50%;
    right: 48%;
    font-size: 56px;
    color: rgb(255, 255, 255); 
}

.fa-arrow-rotate-right:hover {
    cursor: pointer;
}

.fa-star-and-crescent {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 36px;
    color: rgb(37, 15, 104);
    transform: translate(-50%, 50%);
    animation: moon 2s infinite alternate ease-in-out;
}

@keyframes moon {
    0% {
        opacity: .5;
        transform: scale(1.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .5;
        transform: scale(2);
    }
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}